@{
    Layout = "_Layout"; // Ensure that this is the layout you are using
}

<div class="container">
    <h1>Welcome to the Image Upload App</h1>
    <p>
        This application allows you to upload images and view them in a gallery.
    </p>
    <p>
        To upload new images, please visit the image upload page by clicking the button below.
    </p>
    <a href="/ImageUpload/Index" class="btn btn-primary">Go to Upload Page</a>
</div>
